{# src/IServ/NachschreibarbeitenBundle/Resources/views/idesk.html.twig #}
{% extends "IServCoreBundle:IDesk:main.html.twig" %}

{% set title = ico('clipboard', 'fugue') ~ _('Nachschreibarbeiten') %}

{% block idesk_content %}
        <p>{{ _('You are dumb and i hate Symfony!!!!!!111elf') }}</p>
{% endblock %}

{% block idesk_footer %}
    <div class="clearfix">
        <a class="btn btn-link pull-right" href="#">{{ _('Test') }}</a>
    </div>
{% endblock %}
