{# src/IServ/NachschreibarbeitenBundle/Resources/views/Exercise/index.html.twig #}
{% extends "IServNachschreibarbeitenBundle::base.html.twig" %}

{% block page_content %}

    {% if dummy is not empty and anderes_repo is not empty %}
        <p>I can give you data or more! <pre>{{ dump(dummy) }}</pre> anderes Repo: <pre>{{ dump(anderes_repo) }}</pre></p>
    {% endif %}

{% endblock %}
