{# src/IServ/ExerciseBundle/Resources/views/Exercise/showText.html.twig #}
{% extends "IServExerciseBundle::base.html.twig" %}

{% block page_content %}
    <h1>{{ __('Submission of %s', pupil) }}</h1>
    <div class="panel">
        <div class="panel-body">
            {{ text|nl2br }}
        </div>
        <div class="panel-footer">
            <a href="{{ path('manage_exercise_show', {'id': exerciseId}) }}" class="btn btn-link btn-sm">{{ _('Back') }}</a>
        </div>
    </div>
{% endblock %}