{# src/IServ/ReportBundle/Resources/views/report_index.html.twig #}
{% extends 'IServCrudBundle:Crud:index.html.twig' %}

{% block content %}
	{% block warnings %}
		{% for warning in admin.warnings %}
			<div class="alert alert-warning">{{ warning }}</div>
		{% endfor %}
	{% endblock %}

	{{ parent() }}
{% endblock %}