<div id="file-upload-container" class="file-action well">
    <div class="row">
        <div class="col-md-11 col-sm-10 col-xs-10">
            {{ form(uploadForm) }}
        </div>
    </div>
</div>

